<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="edit-create">
        Enter new blog
        <form action="/create" method="post">
            <input type="text" placeholder="Title" name="newPostTitle">
            <input class="para" type="text" placeholder="Type something here..." name="newPost">
            <button class="button2" type="submit">CREATE</button>
        </form>    
    </div>
    
    
</body>
</html>