<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="edit-create" >
        Enter changes to blog
            <form action="/edit/<%= postId %>" method="post">
                <input type="text" placeholder="Title" name="newPostTitle">
                <input type="text" placeholder="Type something here..." name="newPost">
                <button class="button2" type="submit">EDIT</button>
            </form>
    </div>
    
</body>
</html>